@use '../util' as *;

:root {
  --h1: 400 3.75rem / auto Inter;
  --h2: 400 2rem / auto Inter;
  --h3: 400 1.5rem / auto Inter;
  --h4: 400 0.875rem/1.5rem Inter;
  --body: 400 1rem/1.5rem Inter;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

h1 {
  font: var(--h1);
  margin-bottom: rem(3);
  @include breakpoint(large) {
    font-size: rem(72);
  }
}

h2 {
  font-size: rem(24);
  margin-bottom: rem(24);
  color: var(--text-color2);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
